### Data Preparation

In [276]:
import numpy as np
import pandas as pd

In [277]:
# Load data
pd.set_option('display.max_columns', None)
data = pd.read_csv("E:\College\cl\data (cl)\harga_rumah\jabodetabek_house_price.csv")
data.head(1)

,url,price_in_rp,title,address,district,city,lat,long,facilities,property_type,ads_id,bedrooms,bathrooms,land_size_m2,building_size_m2,carports,certificate,electricity,maid_bedrooms,maid_bathrooms,floors,building_age,year_built,property_condition,building_orientation,garages,furnishing
0,https://www.rumah123.com/properti/bekasi/hos11360272/#qid~213b5619-a399-47b3-bfcf-faaef6b542d5,2.990000e+09,"Rumah cantik Sumarecon Bekasi\nLingkungan asri, tenang & nyaman","Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Tempat Jemuran, Jalur Telepon, Taman, Taman",rumah,hos11360272,4.0,4.0,239.0,272.0,0.0,shm - sertifikat hak milik,4400 mah,0.0,1.0,2.0,5.0,2017.0,bagus,NaN,0.0,unfurnished

In [278]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   3553 non-null   object
 1   price_in_rp           3553 non-null   float64
 2   title                 3553 non-null   object
 3   address               3553 non-null   object
 4   district              3553 non-null   object
 5   city                  3553 non-null   object
 6   lat                   3553 non-null   float64
 7   long                  3553 non-null   float64
 8   facilities            3553 non-null   object
 9   property_type         3552 non-null   object
 10  ads_id                3549 non-null   object
 11  bedrooms              3519 non-null   float64
 12  bathrooms             3524 non-null   float64
 13  land_size_m2          3551 non-null   float64
 14  building_size_m2      3551 non-null   float64
 15  carports              3553 non-null   float64
 16  certificate           3412 non-null   object
 17  electricity           3553 non-null   object
 18  maid_bedrooms         3553 non-null   float64
 19  maid_bathrooms        3553 non-null   float64
 20  floors                3547 non-null   float64
 21  building_age          2108 non-null   float64
 22  year_built            2108 non-null   float64
 23  property_condition    3307 non-null   object
 24  building_orientation  1906 non-null   object
 25  garages               3553 non-null   float64
 26  furnishing            3166 non-null   object
dtypes: float64(14), object(13)
memory usage: 749.6+ KB

In [279]:
missing_values = data.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

property_type              1
ads_id                     4
bedrooms                  34
bathrooms                 29
land_size_m2               2
building_size_m2           2
certificate              141
floors                     6
building_age            1445
year_built              1445
property_condition       246
building_orientation    1647
furnishing               387
dtype: int64

In [280]:
# data.property_condition.value_counts()

In [281]:
# data.facilities.value_counts()

In [282]:
# data.certificate.value_counts()

In [283]:
# data.bedrooms.value_counts()

In [284]:
# data.bathrooms.value_counts()

In [285]:
# data.maid_bedrooms.value_counts()

In [286]:
# data.floors.value_counts()

In [287]:
# data.year_built.value_counts()

In [288]:
# data.furnishing.value_counts()

In [289]:
# data.garages.value_counts()

In [290]:
data.property_type.value_counts()

rumah    3552
Name: property_type, dtype: int64

### Data Cleaning

- ganti property type jadi "kost" untuk tittle yang ada kata "kos", "kost", "kontrakan" dan kamarnya lebih dari 15
- hapus data yang property typenya "kost"

drop : title, ads_id, year_built, building_age, building_orientation, garages, property_condition, building_orientation
*property condition dihapus karena value seperti unfurnished, semi furnished, furnished, baru sudah ada di kolom "furnishing" dan value lainnya tidak memiliki parameter yang jelas

In [291]:
# Mengubah 'property_type' menjadi 'kost' untuk baris dengan 'title' yang mengandung 'kos', 'kost', atau 'kontrakan' dan 'bedrooms' lebih dari 15
data.loc[(data['title'].str.contains('kos|kost|kontrakan', case=False)) & (data['bedrooms'] > 15), 'property_type'] = 'kost'
data.loc[(data['title'].str.contains('ruko', case=False)), 'property_type'] = 'ruko'

In [292]:
data.property_type.value_counts()

rumah    3541
kost        8
ruko        4
Name: property_type, dtype: int64

In [293]:
# Mengganti nilai bedrooms dengan penjumlahan bedrooms dan maid bedrooms
data['bedrooms'].fillna(0, inplace=True)
data['maid_bedrooms'].fillna(0, inplace=True)

data['bedrooms'] = data['bedrooms'] + data['maid_bedrooms']

In [294]:
data['bedrooms'].isnull().sum()

0

In [295]:
# Mengganti nilai bedrooms dengan penjumlahan bedrooms dan maid bedrooms
data['bathrooms'].fillna(0, inplace=True)
data['maid_bathrooms'].fillna(0, inplace=True)

data['bathrooms'] = data['bathrooms'] + data['maid_bathrooms']

In [296]:
data['bathrooms'].isnull().sum()

0

In [297]:
# Menghapus baris di mana 'land_size_m2' adalah NaN
data = data.dropna(subset=['land_size_m2'])

In [298]:
data['land_size_m2'].isnull().sum()

0

In [299]:
# Menghapus baris di mana 'land_size_m2' adalah NaN
data = data.dropna(subset=['building_size_m2'])

In [300]:
data['building_size_m2'].isnull().sum()

0

In [301]:
data['certificate'].fillna(0, inplace=True)

In [302]:
data['furnishing'].fillna(0, inplace=True)

In [303]:
data = data.dropna(subset=['title', 'ads_id', 'year_built', 'building_age', 'building_orientation', 'garages', 'property_condition'])

### Data Transformation

### Exploratory Data Analysis

### Feature Engineering

### Modeling

### Evaluation